*,
:after,
:before {
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
  font-size: 16px;

}



.header{
  display:flex;
  flex-direction: column;
  align-items:center;
}


.header img {
  width: 350px;

}



.seznam{
  display:flex;
  width:100%;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}


a{
  text-decoration:none;
  color:#274E44;
  padding: 15px;
}


.hlavnisekce{
  display:grid;
  grid-template-columns: minmax(20px-100px) 1fr 1fr 1fr minmax(20px-100px);
  grid-auto-rows: auto;
}

.sekce1{
  
}
.sekce1 img{
  width:100%;
  height: 400px;
  object-fit: cover;
}





